@font-face {
  font-family: "brandongrotw01-lightregular";
  src: url("font/brandon_grot_w01_light-webfont.woff2") format("woff2"),
    url("font/brandon_grot_w01_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* landing page */
.container {
  position: relative;
  color: black;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 90px;
  left: 16px;
  float: left;
  margin-left: 1.5em;
}

.home_title {
  font-size: 55px;
  line-height: 55px;
  /* text-shadow: 2px 2px 10px white; */
  margin: 0;
  padding: 0;
}
.home_subtitle {
  margin-bottom: 200px;
}
.home_subtitle p {
  font-size: 20px;
  text-shadow: 2px 2px 12px white;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  /* float: left; */
  /* left: 16px; */
  /* font-size: 15px; */
  margin-left: 1.8em;
  padding-bottom: 10px;
}

.bottom-left a {
  color: white;
  transition: .2s;
}

.bottom-left a:hover {
  color: white;
  text-decoration: none;
}

#already-a-member:hover {
  color: #607122;
}

.zero-waste-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.zero-waste {
  font-weight: bold;
  line-height: 1.4em;
  font-size: 41px;
  letter-spacing: .25em;
  margin: 0;
  padding: 0;
}

.delivered-weekly-image {
  width: 700px;
  background-size: 100%;
}

.delivered-weekly-container {
  text-align: center;
  color: white;
  background: rgba(70, 155, 71, 0.86);
  width: 750px;
  height: 700px;
}

.delivered-weekly-container2 {
  text-align: center;
  padding: 0 50px 0 50px;
}

.delivered-titles-container {
  padding: 40px 0 25px;
}

.delivered-title {
  letter-spacing: .25em;
  font-size: 42px;
}

.delivered-title2 {
  letter-spacing: .1em;
  font-size: 33px;
  margin-top: -12px;
}

.delivered-weekly-bullets-container {
  text-align: left;
  padding: 10px 0 10px 100px;
}

.delivered-bullets-text {
  font-size: 24px;
  line-height: 1.5em;
}

.delivered-plans-start {
  margin: 0 0 0 -100px;
  padding: 10px 0 15px 0;
}

.delivered-price-container * {
  display: inline;
}

.delivered-price {
  font-size: 37px;
  line-height: .7em;
  margin-left: 50px;
}

.delivered-week {
  font-size: 18px;
  letter-spacing: .2em;
  font-weight: bold;
}

.fresh-menu-title {
  text-align: center; 
  font-weight: bold;
  font-size: 37px; 
  color: #617221;
}

.fresh-menu-subtitle-container {
  margin: 0 0 20px 0;
}

.fresh-menu-subtitle {
  font-size: 22px;
  margin: 5px;
  padding: 0;
}

.award-text * {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .05em;
}

.award-text {
  margin-top: -25px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.top-center {
  position: absolute;
  top: 5%;
  left: 30%;
}

.mealoption-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  text-shadow: 2px 2px 4px #ffefb0;
  line-height: 35px;
  color: white;
}

.meal-plan-container {
  position: relative;
  text-align: center;
}

.selectmeal-center {
  font-size: 30px;
  text-shadow: 2px 2px 4px #ffefb0;
  line-height: 30px;
  color: white;
  vertical-align: middle;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.bottom-right-meal-selection {
  position: absolute;
  bottom: 30px;
  right: 0.1px;
  left: 0.1px;
  float: right;
}
.top-right-meal-selection {
  position: absolute;
  top: 0.1px;
  right: 0.1px;
  left: 0.1px;
  float: right;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.override-form-control {
  color: #181818;
}

br {
  display: block;
  margin: 100px 100px;
  line-height: 22px;
}

/* required asterisk */
.required-red {
  color: red;
}

/* button */

.btn1 {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  padding: 0.1rem 2rem;
  /* font-size: 70%; */
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  line-height: 2;
  border-radius: 4px;
}

.btn1-primary {
  background-color: #cd790a;
  opacity: 1;
  transition: .2s;
  color: white;
}

.btn1-primary:hover {
  background-color: #607122;
  color: white;
  text-decoration: none;
}

hr.one {
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 0 solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
hr.one-half {
  border: none;
  width: 90%;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 0 solid #1f1209;
  box-shadow: 0 -20px 20px -20px #333;
  margin-left: 50px;
}

.background {
  background-image: url(./img/img3.jpg);
}

/* select meal page */
hr.two {
  width: 30%;
  background-color: black;
}

hr.three {
  width: 470px;
  margin:auto;
  border: none;
}

hr.four {
  width: 40%;
  background-color: #dbdbdbc0;
}

.header {
  height: 600px;
  width: 100vw;
  background: black;
  overflow: hidden;
}

.black {
  object-fit: cover;
  opacity: 50% !important;
  height: 187px;
  width: 100%;
}

.overlay {
  background: black;
}

.blackM {
  object-fit: cover;
  opacity: 0.5 !important;
  height: 187px;
  width: 100%;
}
.checked {
  color: rgb(255, 196, 0);
}

.btn2 {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  padding: 0.1rem 2rem;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  border-radius: 4px;
}

.btn2-primary {
  background-color: #427c42;
  opacity: 1;
}

.btn2-primary:hover {
  background-color: #cd790c;
}

.btn2-primary:focus {
  background-color: #cd790c;
  color: white;
}

.btn2-primary:active {
  background-color: #cd790c !important;
}

.meals-button {
  font-size: 150%;
}

.h6 {
  font-size: 10em;
}
.container-select-meal {
  position: relative;
  text-align: center;
  color: white;
}

.scrollMenu {
  overflow: auto;
  height: 550px;
}

/* font */

/* big header */
.font1 {
  font-family: brandongrotw01-lightregular, sans-serif;
}
/* text font */
.font2 {
  font-family: "Nunito", sans-serif;
}
.font3 {
  font-family: "Cousine", monospace;
}
/* button */
.font4 {
  font-family: "Heebo", sans-serif;
}

.font5 {
  font-family: "Montserrat", sans-serif;
}

.font9 {
  font-size: 11px;
  line-height: 0.8em;
  text-align: center;
  letter-spacing: 0.25em;
  color: #E38B19;
  font-weight: bold;
  margin-top: -8px;
}

.logo-austin-houston {
  margin-top: 10px;
}

.scrollMenu-profile {
  overflow: auto;
  height: 450px;
}

/* subscription page */
.borderr {
  border-style: solid !important;
  border-width: thick !important;
}

.rcorners {
  border-radius: 100px 100px 0 0;
  /* background: #427c42; */
  /* padding: 15px;
  margin: 2px;
  width: 88%; */
  margin-bottom: 3px;
  height: 7%;
  color: white;
  font-size: 20px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

.rcorner_color {
  background-color: #427c42;
}
/* #meal-sub-parent {
  display: table;
}
#meal-sub-child {
  display: table-cell;
  vertical-align: middle;
} */

.border_card_subcribe {
  padding: 0px !important;
  /* border: 1px solid #b4b4b4; */
  box-shadow: 10px 0px 32px 4px rgba(0, 0, 0, 0.3);
}

.card_color {
  color: green;
}

.bottom_header {
  margin-bottom: 50px;
}

.start_button {
  margin-top: 15px;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.container_space {
  margin-top: 100px;
}
.paymentCard {
  max-width: 20rem;
  margin: 20px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 0px;
}
.background_black {
  background-color: #181818 !important;
  border-radius: 0 !important;
}
.loading {
  width: 100px;
  height: 100px;
  opacity: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 35px;
  z-index: 3;
  position: absolute;
  bottom: 300px;
}

.logo {
  width: 88px;
  height: 65px;
}

.socialBranchLogo {
  width: 41px;
  height: 41px;
  margin-bottom: 0px;
  margin-right: 10px;
  display: inline-block;
  padding-top: 10px;
}
.sub_title {
  font-weight: 500;
  font-size: 25px;
}
