@font-face {
  font-family: "brandongrotw01-lightregular";
  src: url("fonts/brandon_grot_w01_light-webfont.woff2") format("woff2"),
    url("fonts/brandon_grot_w01_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "oswald";
  src: url("fonts/Oswald-Medium.woff2") format("woff2"),
    url("fonts/Oswald-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: #469b47;
  --black: #494949;
  --off-white: #f8f9fa;
  --orange: #ff8c42;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.content-container {
  padding-top: 140px;
}

p {
  font-family: "montserrat", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "oswald", sans-serif !important;
}

h1 {
  font-family: brandongrotw01-lightregular, sans-serif !important;
}

a {
  font-family: montserrat;
}

.font1,
.font5 {
  font-family: brandongrotw01-lightregular, sans-serif;
}
/*text font*/
.font2 {
  font-family: "montserrat", sans-serif;
}
/*header font*/
.font6 {
  font-family: "Oswald", sans-serif;
}

.font9 {
  font-size: 11px;
  line-height: 0.8em;
  text-align: center;
  letter-spacing: 0.25em;
  color: #e38b19;
  font-weight: bold;
  margin-top: -8px;
}
.logo-austin-houston {
  margin-top: 10px;
}

.scrollMenu-profile {
  overflow: auto;
  height: 450px;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

/* ----- navigation header ----- */

.navigation-container {
  min-height: 140px;
  background: white;
}

.logo {
  height: 60px;
  object-fit: cover;
}

.black-link,
.black-link a {
  color:var(--black)!important;
}

.navigation-link {
  margin: 50px 35px 0 35px;
  display:flex;
}

@media only screen and (max-width: 991px) {
  .navigation-link {
    margin: 10px 35px 0 35px;
  }
}

.navigation-start {
  margin: 28px 0 0 25px;
}

.navigation-start #loginStatus {
  font-size: 18px;
  font-family: "montserrat";
}

#loginButton {
  text-decoration: none;
  color: black;
  float: right;
  margin-top: 10px;
}

.login-hello {
  font-size: 20px;
  color: black;
  position: absolute;
  z-index: 1;
  text-align: right;
  width: 300px;
  margin-left: -218px;
}

#logoutButton {
  text-decoration: none;
  color: black;
  float: right;
  margin: 30px 0 0 22px;
}

/* ----- footer ----- */

.center-content {
  text-align: center;
}

.footer-container {
  margin-bottom: 20px;
}

#footer-margin-padding {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

#green {
  color: var(--green);
}

.black-grey {
  color: var(--black);
}
.black-grey:hover {
  color: black;
}

.footer-socials-container {
  margin-left: 12px;
}

#social-icon {
  color: grey;
  transition: 0.1s;
}
#social-icon:hover {
  color: var(--black);
}

.mailing-list-spacing {
  margin-top: 40px;
}

.never-miss-update-text {
  font-size: 12px;
  padding-top: 25px;
  margin: 0 0 0 -156px;
}

.email-section {
  padding-left: 10px;
}

/* ----- landing page ----- */
.container {
  position: relative;
  color: var(--black);
}

.title-image-container {
  /*text color*/
  color: white;
}
.title-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.top-left {
  position: absolute;
  top: 90px;
  left: 16px;
  float: left;
  margin-left: 1.5em;
}

.home_title {
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding: 0;
}
.home_subtitle {
  margin-bottom: 180px;
}
.home_subtitle p {
  font-size: 18px;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.plant-based-text {
  margin-bottom: 50px;
}
.plant-based-text h1 {
  font-size: 22px;
  margin: 10px 0;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  margin-left: 1.8em;
  font-size: 18px;
}

.bottom-left a {
  color: white;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.bottom-left a:hover {
  color: white;
  text-decoration: none;
}
#already-a-member h1 {
  font-size: 18px;
}
#already-a-member:hover {
  color: var(--black);
}

.zero-waste-container {
  margin-top: 50px;
  margin-bottom: 20px;
}
.zero-waste {
  font-weight: bold;
  line-height: 1.4em;
  font-size: 41px;
  letter-spacing: 0.25em;
  margin: 0;
  padding: 0;
}
.zero-waste-subtext {
  margin-left: 65px;
}
.zero-waste-cell {
  padding: 0 20px 0 20px;
  display: inline-block;
}
.zero-waste-subtitle {
  color: var(--green);
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 24px;
}
.zero-waste-subtext p {
  text-align: left;
  font-size: 16px;
}

.box-shadow-top {
  box-shadow: inset 0 -15px 10px -16px grey;
  margin: auto;
  width: 960px;
}
.box-shadow-bottom {
  box-shadow: inset 0 15px 10px -16px grey;
  margin: auto;
  width: 960px;
  padding-bottom: 25px;
}

.four-items-grid {
  font-size: 14px;
  color: #4d4d4d;
  margin: 50px 0 0 20px;
}

#left-padding-reusable {
  margin-left: -35px;
}
#left-padding-organic {
  margin-left: -35px;
}

.four-items-subtitle {
  font-size: 27px;
}
.eat-better-now-button-container {
  margin-left: 30px;
  max-height: 50px;
}

.img-2-carrot {
  height: auto;
  margin: 80px 0 0 -30px;
  object-fit: cover;
}

.delivered-padding {
  padding: 80px 80px;
}
.delivered-weekly-image {
  width: 700px;
  background-size: 100%;
}
.delivered-weekly-container {
  text-align: center;
  color: white;
  background: rgba(70, 155, 71, 0.86);
  width: 750px;
  height: 700px;
}
.delivered-weekly-container2 {
  text-align: center;
  padding: 0 50px 0 50px;
}
.delivered-titles-container {
  padding: 40px 0 25px;
}
.delivered-title {
  letter-spacing: 0.25em;
  font-size: 42px;
}
.delivered-title2 {
  letter-spacing: 0.1em;
  font-size: 33px;
  margin-top: -12px;
}
.delivered-weekly-bullets-container {
  text-align: left;
  padding: 10px 0 10px 100px;
}
.delivered-bullets-text {
  font-size: 24px;
  line-height: 1.5em;
}
.delivered-plans-start {
  margin: 0 0 0 -100px;
  padding: 10px 0 15px 0;
}
.delivered-price-container * {
  display: inline;
}
.delivered-price {
  font-size: 37px;
  line-height: 0.7em;
  margin-left: 50px;
}
.delivered-week {
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: bold;
}
.pause-anytime {
  padding-bottom: 20px;
}

.fresh-menu-title {
  text-align: center;
  font-weight: bold;
  font-size: 37px;
  color: var(--green);
  letter-spacing: 0.25em;
}
.fresh-menu-subtitle-container {
  margin: 30px 0 40px 0;
}
.fresh-menu-subtitle {
  font-size: 20px;
  margin: 5px;
  padding: 0;
}
.menu-next-week-button-container {
  background-size: 100% 100%;
  margin-top: 50px;
}

.menu-carousel-img {
  width: 270px;
  height: 270px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu-carousel-img-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 270px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.content {
  opacity: 0;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(145, 122, 122, 0.5);
  width: 270px;
  height: 270px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}
.menu-carousel-img-container .content:hover {
  opacity: 1;
}
.menu-carousel-img-container .content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.05s;
  padding-top: 80px;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.6;
}
.menu-carousel-img-container .content:hover .text {
  opacity: 1;
}
.menu-carousel-img:hover {
  opacity: 0.8;
}
.slider-arrow {
  position: absolute;
  height: 100%;
  width: 100%;
}
.slider-arrow:hover {
  cursor: pointer;
}
.arrow-btn {
  margin-top: 125px;
  z-index: 1;
}
.arrow-btn img {
  fill: var(--green);
}
.prev {
  float: left;
  margin-left: -50px;
}
.next {
  float: right;
  margin-right: -20px;
}

.arrow-btn2 {
  margin-top: 160px;
}

.try-us-today-button-container {
  text-align: left;
  margin: 50px 0 0 0;
}

.community-title {
  letter-spacing: 0.05em;
}

.quote-carousel-padding {
  padding: 0 200px;
}
.quote-carousel-padding2 {
  padding: 0 140px;
}
.quote2 {
  line-height: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.quote-line-height {
  line-height: 50px;
}
.quote-size {
  font-size: 24px;
}

.awards {
  padding-bottom: 100px;
}
.award-text * {
  margin: 0;
  padding: 0;
  font-size: 12px !important;
  letter-spacing: 0.05em;
}

.no-display-desktop {
  display:none;
}

#no-display-monday {
  /* display:none; */
  visibility: hidden;
  /* cursor:default; */
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.top-center {
  position: absolute;
  top: 5%;
  left: 30%;
}

.mealoption-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  text-shadow: 2px 2px 4px #ffefb0;
  line-height: 35px;
  color: white;
}

.meal-plan-container {
  position: relative;
  text-align: center;
}

.selectmeal-center {
  font-size: 30px;
  text-shadow: 2px 2px 4px #ffefb0;
  line-height: 30px;
  color: white;
  vertical-align: middle;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.bottom-right-meal-selection {
  position: absolute;
  bottom: 30px;
  right: 0.1px;
  left: 0.1px;
  float: right;
}
.top-right-meal-selection {
  position: absolute;
  top: 0.1px;
  right: 0.1px;
  left: 0.1px;
  float: right;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.override-form-control {
  color: #181818;
}

.required-red {
  color: red;
}

/* button */

.top-btn1 {
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  line-height: 1.5;
  border-radius: 4px;
  font-weight: bold;
}

.top-btn1-primary {
  background-color: var(--green);
  opacity: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: white;
}
.top-btn1-primary:hover {
  background-color: var(--orange);
  color: white;
  text-decoration: none;
}

.btn1 {
  padding: 0.1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  line-height: 2;
  border-radius: 4px;
}

.btn1-primary {
  background-color: var(--orange);
  opacity: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.btn1-primary:hover {
  background-color: var(--green);
  color: white;
  text-decoration: none;
}

.subscribe-btn {
  background-color: var(--green);
  color: white !important;
  padding: 6px 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  line-height: 2.5;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.subscribe-btn:hover {
  background-color: #325a2f;
  color: white;
  text-decoration: none;
}

hr.one {
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 0 solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
hr.one-half {
  border: none;
  width: 90%;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 0 solid #1f1209;
  box-shadow: 0 -20px 20px -20px #333;
  margin-left: 50px;
}

.background {
  background-image: url(./img/img3.jpg);
  background-size: 100% 100%;
}

/* select meal page */
hr.two {
  width: 30%;
  background-color: black;
}

hr.three {
  width: 470px;
  margin: 10px auto;
  border: none;
}

hr.four {
  width: 40%;
  background-color: #dbdbdbc0;
}

.header {
  height: 600px;
  width: 100vw;
  background: black;
  overflow: hidden;
}

.black {
  object-fit: cover;
  opacity: 50% !important;
  height: 187px;
  width: 100%;
}

.overlay {
  background: black;
}

.blackM {
  object-fit: cover;
  opacity: 0.5 !important;
  height: 187px;
  width: 100%;
}
.checked {
  color: rgb(255, 196, 0);
}

.btn2 {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  padding: 0.1rem 2rem;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  border-radius: 4px;
}

.btn2-primary {
  background-color: var(--green);
  opacity: 1;
}

.btn2-primary:hover {
  background-color: var(--orange);
}

.btn2-primary:focus {
  background-color: var(--orange);
  color: white;
}

.btn2-primary:active {
  background-color: var(--orange) !important;
}

.meals-button {
  font-size: 150%;
}

.h6 {
  font-size: 10em;
}
.container-select-meal {
  position: relative;
  text-align: center;
  color: white;
}

.scrollMenu {
  overflow: auto;
  height: 550px;
}

.number-of-meals {
  color: black;
}
.number-of-meals-margin {
  margin: 10px;
}

.feedback_marginTop {
  margin-top: 40px;
}

/* subscription page */
.borderr {
  border-style: solid !important;
  border-width: thick !important;
}

.rcorners {
  border-radius: 100px 100px 0 0;
  margin-bottom: 3px;
  height: 7%;
  color: white;
  font-size: 20px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

.rcorner_color {
  background-color: #427c42;
}

.border_card_subcribe {
  padding: 0px !important;
  box-shadow: 10px 0px 32px 4px rgba(0, 0, 0, 0.3);
}

.card_color {
  color: green;
}

.bottom_header {
  margin: 30px 0 20px 0;
}
.bottom_header p {
  font-size: 20px;
}

.start_button {
  margin-top: 15px;
  color: white;
  padding: 0.5rem 2.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.container_space {
  margin-top: 100px;
}
.paymentCard {
  max-width: 20rem;
  margin: 20px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 0px;
}
.background_black {
  background-color: #181818 !important;
  border-radius: 0 !important;
}
.loading {
  width: 100px;
  height: 100px;
  opacity: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 35px;
  z-index: 3;
  position: absolute;
  bottom: 300px;
}

.socialBranchLogo {
  width: 41px;
  height: 41px;
  margin-bottom: 0px;
  margin-right: 8px;
  display: inline-block;
  padding-top: 10px;
}
.sub_title {
  font-weight: 500;
  font-size: 25px;
}

.select_center {
  width: 100%;
  display: inline-block;
  text-align-last: center;
  font-weight: bold;
}

.half-opacity {
  opacity: 0.5;
}
.w-20 {
  width: 20% !important;
}

/* smaller screens */

@media only screen and (max-width: 990px) {
  .login-hello {
    margin-left: -165px;
    margin-top: -16px;
  }
  #logoutButton {
    margin: 20px 0 10px 10px;
    float: left;
  }
  .nav-get-started {
    text-align:left;
    margin-left: -24px;
  }
  #loginButton {
    float:left;
    margin: 10px -24px;
  }
  .navigation-link {
    margin: 10px 35px 0 0px;
  }

  .top-left h1 {
    font-size:45px;
    line-height: 50px;
    padding: 0 0 0 0px;
    letter-spacing: .01em;
  }
  .top-left {
    margin-top: -55px;
  }
  .bottom-left {
    padding: 0 0 0 2px;
  }
  .plant-based-text {
    margin-bottom: 30px !important;
  }
  .plant-based-text h1 {
    font-size: 20px !important;
    letter-spacing: .05em;
    line-height: 10px;
  }
  .home_subtitle {
    margin-bottom: 60px !important;
  }
  .bottom-left {
    margin-bottom: -10px;
  }

  .background {
    width: auto !important;
    object-fit: cover;
  }
  .delivered-title {
    letter-spacing: .15em!important;
    font-size: 28px!important;
    line-height:16px!important;
  }
  .delivered-title2 {
    font-size: 22px!important;
  }
  .delivered-padding {
    padding: 25px 0;
  }
  .delivered-titles-container {
    padding-top: 15px!important;
    padding-bottom: 0px!important;
  }
  .delivered-weekly-container {
    width: auto !important;
    height: auto!important;
    padding-bottom: 20px;
  }
  .delivered-weekly-container2 {
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .delivered-weekly-bullets-container {
    padding-left: 0px !important;
  }
  .delivered-bullets-text {
    margin: 5px!important;
    font-size: 14px!important;
  }
  hr.three {
    width: auto!important;
    margin: 10px auto;
    border: none;
  }
  .pause-anytime {
    padding: 0!important;
  }

  .try-us-today-button-container {
    text-align: center;
    margin: 50px 0 0 0;
  }

  .visibility-hidden-mobile {
    visibility: hidden!important;
    display: none;
  }

  .mobile-center {
    padding-left: 0px;
    text-align: center;
  }

  /* weekly/next menu */
  .mobile-menu-display-none {
    display:none;
  }
  .no-display-desktop {
    display:block!important;
    width: 300px;
    margin:auto;
  }

  .meals-deck {
    display: grid!important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))!important;
  }
}

@media only screen and (max-width: 767px) {
  .navigation-start {
    padding-left: 50px;
  }
  .navbar-brand {
    margin-left: 10px;
  }
  .login-hello {
    margin-left: -216px;
  }
  #logoutButton {
    margin: 20px 0 10px -40px;
    float:left;
  }
  .nav-get-started {
    text-align:left;
    margin-left: -40px;
  }
  #loginButton {
    float:left;
    margin-left: -40px;
  }
  #signupButton {
    width: 300px!important;
    padding: 8px 20px!important;
  }
  .navigation-link {
    margin: 10px 35px 0 35px;
  }

  .content-section .landing {
    max-width: 320px !important;
  }
  #footer-margin-mobile {
    margin-left: 10px;
  }

  .title-image-container {
    height: 500px;
    width: auto;
    margin: 0 0 0 0!important;
    padding: 0 0 0 0!important;
    object-fit: cover;
  }
  .title-image-container img {
    height: 500px;
    width: auto;
    object-fit: cover;
  }
  .top-left h1 {
    font-weight: bold;
  }
  .plant-based-text h1 {
    font-weight: bold;
  }
  .zero-waste-cell {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
  .zero-waste {
    width: auto;
    letter-spacing: 0.1em;
    font-size: 26px;
  }
  .zero-waste-subtext {
    margin-left: 0px;
  }
  .box-shadow-top, .box-shadow-bottom {
    width: auto !important;
  }

  #left-padding-reusable {
    margin-left: 8px;
  }
  #left-padding-organic {
    margin-left: 8px;
  }
  .img-2-carrot {
    max-width: 300px !important;
    margin: 0!important;
  }

  .container_space {
    margin-top: 40px!important;
  }

  /* delivered weekly */
  .background {
    width: auto !important;
    object-fit: cover;
  }
  .delivered-title {
    letter-spacing: .15em!important;
    font-size: 28px!important;
    line-height:16px!important;
  }
  .delivered-title2 {
    font-size: 22px!important;
  }
  .delivered-padding {
    padding: 25px 0;
  }
  .delivered-titles-container {
    padding-top: 15px!important;
    padding-bottom: 0px!important;
  }
  .delivered-weekly-container {
    width: auto !important;
    height: auto!important;
    padding-bottom: 20px;
  }
  .delivered-weekly-container2 {
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .delivered-weekly-bullets-container {
    padding-left: 0px !important;
  }
  .delivered-bullets-text {
    margin: 5px!important;
    font-size: 14px!important;
  }
  hr.three {
    width: auto!important;
    margin: 10px auto;
    border: none;
  }
  .pause-anytime {
    padding: 0!important;
  }

  .try-us-today-button-container {
    text-align: center;
    margin: 50px 0 0 0;
  }

  .mobile-center {
    padding-left: 60px;
    text-align: center;
  }
  .mobile-weekly-menu {
    width: 320px!important;
  }
  .mobile-weekly-menu-grid {
    grid-template-columns:repeat(1, 1fr)!important;
    margin: 0!important;
  }
  .mobile-weekly-menu-object {
    margin: 10px!important;
  }
  .mobile-left {
    width: 345px!important;
    left: 12px;
  }

  .meals-deck {
    display: grid!important;
    grid-template-columns: repeat(1, minmax(250px, 1fr))!important;
  }
  .mobile-popular-margin {
    margin: 20px 20px 0 20px;

  }
  .mealsCard {
    margin: 0 20px;
  }
  .mobile-card-top {
    visibility: hidden!important;
    display: none;
  }
}