/* landing page */
.container {
  position: relative;
  color: black;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 15px;
  margin-left: 1.5em;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  float: left;
  margin-left: 0.5em;
  margin-top: 2em;
  font-size: 52px;
  letter-spacing: 1.5px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.top-center {
  position: absolute;
  top: 5%;
  left: 30%;
}

.mealoption-center {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 100px;
  text-shadow: 2px 2px 4px #ffefb0;
  line-height: 35px;
  color: white;
  font-size: 100px;
  text-shadow: 2px 2px 4px #ffefb0;
  line-height: 35px;
  color: white;
}

.meal-plan-container {
  position: relative;
  text-align: center;
}

.selectmeal-center {
  font-size: 30px;
  text-shadow: 2px 2px 4px #ffefb0;
  line-height: 30px;
  color: white;
  vertical-align: middle;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.bottom-right-meal-selection {
  position: absolute;
  bottom: 30px;
  right: 0.1px;
  left: 0.1px;
  float: right;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.override-form-control {
  color: #181818;
}

br {
  display: block;
  margin: 100px 100px;
  line-height: 22px;
}

/* required asterisk */
.required-red {
  color: red;
}

/* button */

.btn1 {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  padding: 0.1rem 2rem;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  border-radius: 4px;
}

.btn1-primary {
  background-color: #cd790c;
  opacity: 1;
}

.btn1-primary:hover {
  background-color: #427c42;
}

.btn1-primary:focus {
  background-color: #427c42;
  color: white;
}

.btn1-primary:active {
  background-color: #427c42 !important;
}

hr.one {
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 0 solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  /* margin: -50px auto 10px; */
}
hr.one-half {
  border: none;
  width: 90%;
  height: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  border-top: 0 solid #1f1209;
  box-shadow: 0 -20px 20px -20px #333;
  margin-left: 50px;
}

hr.three {
  width: 40%;
  background-color: black;
}

.background {
  background-image: url(./img/img3.jpg);
}

/* select meal page */
hr.two {
  width: 30%;
  background-color: black;
}

hr.three {
  width: 55%;
  background-color: #dbdbdbc0;
}

hr.four {
  width: 40%;
  background-color: #dbdbdbc0;
}

.header {
  height: 600px;
  width: 100vw;
  background: black;
  overflow: hidden;
}

.black {
  /* outline: 100px solid rgba(0, 0, 0, 0.5) !important;
  outline-offset: -100px;
  overflow: hidden;
  position: relative;
  /*height: 187px;
  width: 276px; */
  object-fit: cover;
  opacity: 50%;
  height: 187px;
  width: 100%;
}

.overlay {
  background: black;
}

.blackM {
  /* outline: 100px solid rgba(0, 0, 0, 0.5) !important;
  outline-offset: -100px;
  overflow: hidden;
  position: relative; */
  object-fit: cover;
  opacity: 70%;
  height: 187px;
  /* width: 252px; */
  width: 100%;
}
.checked {
  color: rgb(255, 196, 0);
}

.btn2 {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0) !important;
  padding: 0.1rem 2rem;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  border-radius: 4px;
}

.btn2-primary {
  background-color: #427c42;
  opacity: 1;
}

.btn2-primary:hover {
  background-color: #cd790c;
}

.btn2-primary:focus {
  background-color: #cd790c;
  color: white;
}

.btn2-primary:active {
  background-color: #cd790c !important;
}

.meals-button {
  font-size: 150%;
}

.h6 {
  font-size: 10em;
}
.container-select-meal {
  position: relative;
  text-align: center;
  color: white;
}

.scrollMenu {
  overflow: auto;
  height: 550px;
}

/* font */

/* big header */
.font1 {
  font-family: "Raleway", sans-serif;
}
/* text font */
.font2 {
  font-family: "Nunito", sans-serif;
}
.font3 {
  font-family: "Cousine", monospace;
}
/* button */
.font4 {
  font-family: "Heebo", sans-serif;
}

.font5 {
  font-family: "Montserrat", sans-serif;
}

.scrollMenu-profile {
  overflow: auto;
  height: 450px;
}

/* subscription page */
.borderr {
  border-style: solid !important;
  border-width: thick !important;
}

.rcorners {
  border-radius: 100px 100px 0 0;
  /* background: #427c42; */
  /* padding: 15px;
  margin: 2px;
  width: 88%; */
  margin-bottom: 3px;
  height: 7%;
  color: white;
  font-size: 20px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

.rcorner_color {
  background-color: #427c42;
}
/* #meal-sub-parent {
  display: table;
}
#meal-sub-child {
  display: table-cell;
  vertical-align: middle;
} */

.border_card_subcribe {
  padding: 0px !important;
  /* border: 1px solid #b4b4b4; */
  box-shadow: 10px 0px 32px 4px rgba(0, 0, 0, 0.3);
}

.card_color {
  color: green;
}

.bottom_header {
  margin-bottom: 50px;
}
.feedback_marginTop {
  margin-top: 150px;
}
.home_title {
  font-size: 40px;
  line-height: 55px;
  text-shadow: 2px 2px 10px white;
  font-weight: normal;
}
.home_subtitle {
  margin-bottom: 200px;
}
.home_subtitle p {
  font-size: 21px;
  text-shadow: 2px 2px 10px white;
  line-height: 35px;
}
.start_button {
  margin-top: 10px;
  color: white;
}
.container_space {
  margin-top: 150px;
}
.paymentCard {
  max-width: 20rem;
  margin: 20px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 0px;
}
.background_black {
  background-color: #181818 !important;
}
